.all{
    /* width / height = 3/4  */
    width: 600px; 
    height: 800px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
}
.fullGame{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
}
.top{
    display: flex;
    width: 100%;
    height: 32%;
}
.mid{
    display: flex;
    width: 100%;
    height: 32%;
}
.bot{
    display: flex;
    width: 100%;
    height: 32%;
}
.button{
    background-color: #fff; /* Cor de fundo padrão */
    color: #333; /* Cor do texto padrão */
    padding: 10px;
    border: 1px solid #ccc;
    transition: background-color 0.3s; 
    width: 100%;
    height: 100%;
}
.button :hover{
    background-color: #2980b9;
}
.vertical{
    width: 4%;
    height: 100%;
    background-color: black;
}
.horizontal{
    width: 100%;
    height: 1%;
    background-color: black;
}
